@charset "utf-8";
/*body {
	font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}*/
h2 {
}
.main {
	width: 80%;
}
h3 {
	font-size: 1.4em;
	text-align: center;
}
.flexArea {
	justify-content: space-between;
}
.flexArea section {
	width: 47%;
	padding-top: 2em;
}
.flexArea section p {
	text-align: center;
	padding-top: 1em;
}
.container {
	padding-bottom: 0;
}
#character,
.container,
footer,
footer a {
	background: #ffd700;
	color: #222222;
}
@media screen and (max-width: 700px){
	.flexArea section {
		width: 90%;
		margin: auto;
	}
}
